body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(242, 240, 238);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.right-nav {
    display: flex;
    gap: .5rem;
}

.vertical-line {
    border: 1px solid black;
    background-color: black;
}

.savon-img {
    border-radius: 50%;
    width: 25%;
}