body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(220, 216, 213);
    /* height: 100vh; */
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Nav component */
.navbar-container {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
}

.left-nav {
    font-size: 1.25rem;
}

.right-nav {
    display: flex;
    gap: .5rem;
}

.vertical-line {
    border: .25px solid rgb(168, 166, 166);
}

.savon-img {
    border-radius: 50%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/* Main component */
.main-container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5rem auto 0 auto;
    padding-bottom: 10rem;
    height: 100vh;
}

.left-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
    gap: .25rem;
}

.name-title {
    font-size: 1.5rem;
}

.right-main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 75%;
}

.hello-text {
    font-size: 4.5rem;
}

.circle-links {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
}

.circle-icons {
    border: 1px solid rgb(159, 152, 152);
    width: 4rem;
    height: auto;
    border-radius: 50%;
    text-align: center;
    padding: 1.5rem;
}

.resume {
    background-color: orange;
}

.projects {
    background-color: red;
}

.contact {
    background-color: green;
}

/* Footer component */
.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 1rem 2rem;
    align-items: center;
}

.footer-line {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Resume component */
.resume-header {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.rt-side-experience {
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.experience-title {
    text-align: center;
}

.dates {
    width: 12rem;
    margin: auto;
}

.location {
    margin-bottom: .5rem;
}

p {
    margin: 0;
}

ul {
    margin-top: .25rem;
}

li {
    margin-bottom: .25rem;
}

/* Education section */
.education-container {
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    margin: auto;
    padding-bottom: 2rem;
    width: 80%;
}