body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    /* font-family: 'Noto Sans', sans-serif; */
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Nav component */
.navbar-container {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
}

.left-nav {
    font-size: 1.25rem;
}

.right-nav {
    display: flex;
    gap: .5rem;
}

.vertical-line {
    border: .25px solid rgb(168, 166, 166);
}

.savon-img {
    border-radius: 50%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/* Main component */
.main-container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5rem auto 0 auto;
    padding-bottom: 10rem;
    height: 100vh;
}

.left-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
    gap: .25rem;
    width: 40%;
}

.name-title {
    font-size: 1.5rem;
}

.right-main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 60%;
}

.hello-text {
    font-size: 4.5rem;
}

.circle-links {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;

}

.circle-icons {
    border: 1px solid rgb(159, 152, 152);
    width: 4rem;
    border-radius: 50%;
    text-align: center;
    padding: 1.5rem;
}

@keyframes resume-link {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes projects-link {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes contact-link {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0);
    }
}

.resume {
    background-color: orange;
    animation: resume-link 300ms;
}

.resume:hover, .projects:hover, .contact:hover {
    background-color: white;
}

.projects {
    background-color: red;
    animation: projects-link 600ms;
}

.contact {
    background-color: green;
    animation: contact-link 900ms;
}

.description {
    padding-right: 7rem;
}

/* Footer component */
.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 1rem 2rem;
    align-items: center;
}

.footer-line {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Resume component */
.resume-header {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

.experience-line {
    margin-bottom: 2rem;
    width: 15%;
}

.rt-side-experience {
    display: flex;
    gap: 5rem;
    /* justify-content: center; */
    width: 80%;
    margin: auto;
}

.dates {
    width: 12rem;
    margin: auto;
}

.location {
    margin-bottom: .5rem;
}

p {
    margin: 0;
    /* font-size: .9rem; */
}

ul {
    margin-top: .25rem;
}

li {
    margin-bottom: .25rem;
    /* font-size: .8rem; */
}

/* Education section */
.education-container {
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    margin: 2rem auto;
    width: 80%;
}

.education-line {
    width: 8%;
}

/* Skills */
.skills-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-left: 7rem;
    margin-top: 2rem;
}

.skills-line {
    width: 5%;
}

/* Projects  */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 2rem auto 1rem auto ;
    /* border: 1px solid blue; */
    width: 80%;
}

.project-desc {
    /* border: 1px solid black; */
    height: 16rem;
    width: 40%;
}

.project-card {
    /* border: 1px solid red; */
    width: 60%;
}

.cake-img, .calculator-img {
    width: 100%;
}

.project-title {
    margin-top: 0;
}

.groupie-gif {
    width: 50%;
}

.cake-img:hover, .groupie-gif:hover {
    opacity: .5;
}

.desc-text {
    line-height: 1.1rem;
}

.projects-line {
    width: 6%;
}

/* Contact  */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.label-text {
    margin-bottom: .5rem;
}

.text-field {
    margin-bottom: 1rem;
}

.contact-line {
    width: 5%;
    margin-bottom: 3rem;
}

.submit-btn {
    border: 1px solid grey;
    width: 6rem;
    height: 1.75rem;
    border-radius: 5px;
    background-color: antiquewhite;
    cursor: pointer;
    margin-bottom: 2rem;
}

.submit-btn:hover {
    background-color: rgb(249, 220, 183);
}

#outlined-basic {
    background-color: rgb(241, 241, 241);
}
